@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Colors
$main-bg-color: linear-gradient(180deg, #FECD45 24.48%, #2568FB 88.54%);
$btn-bg-color: #2568FB;;
$color-black:black;
$color-blue:#2568FB;


//Font Families
$font-family-montserrat:'Montserrat Alternates';
$fw-700: 700;
$fw-400:400;
$font-style-normal: 400;
