@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');

// Fonts
$font-family-montserrat: 'Montserrat Alternates', sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;

// Font Style
$font-style-normal: normal;

// Colors
$color-blue: #10C5F8;
$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: #F4FF0F;