@import "../../../styles/Vars.scss";

.FooterSuperpapa {
  margin: 300px 0 95px;

  &__Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__Logo {
      font-family: $font-family-montserrat;
      font-weight: $font-weight-medium;
      font-size: 18px;
    }

    &__Nav {
      &__List {
        list-style: none;
        display: flex;
        align-items: center;

        &__Item {
          &__Link {
            font-family: $font-family-montserrat;
            font-weight: $font-weight-medium;
            font-size: 18px;
            font-style: $font-style-normal;

            color: $color-black;
            text-decoration: none;
          }
        }

        &__Item + &__Item {
          margin-left: 30px;
        }
      }
    }

    &__SocialIcons {
      display: flex;
      align-items: center;

      &__Link {
        text-decoration: none;
      }

      &__Link + &__Link {
        margin-left: 30px;
      }
    }
  }
}
