@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 !important;
  margin: 0 !important;
}

.announcementcard {
  margin-top: 50px;
  &__inner {
    width: 900px;
    transform: skew(0, -5deg);
    background-color: #fff;
    margin: auto;
    padding: 80px 80px;
    border-radius: 10px;
    &__top {
      transform: skew(0, 5deg);
      display: flex;
      align-items: center;

      &__avatarca {
        width: 263px;
        height: 212px;
        background: #c4c4c4;
        margin-right: 35px;
      }
      &__userinfo {
        &__username,
        &__idcard,
        &__raiting,
        &__givaball {
          font-family: "Montserrat Alternates";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
          margin-top: 15px;
        }
        &__giveball {
          font-family: "Montserrat Alternates";
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
          background: #00458b;
          border: 1px solid #000000;
          margin-top: 15px;
          padding: 7px 17px;
          cursor: pointer;
        }
      }
    }
    &__medium {
      transform: skew(0, 5deg);
      padding: 61px 0;
      &__themeannounc,
      &__textannounc {
        font-family: "Montserrat Alternates";
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }
      &__textannounc {
        margin-top: 36px;
      }
    }
    &__bottom {
      transform: skew(0, 5deg);
      &__btn {
        font-family: "Montserrat Alternates";
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
        background: #00458b;
        border: 1px solid #000000;
        padding: 7px 17px;
        cursor: pointer;
        &:first-child {
          margin-right: 50px;
        }
      }
    }
  }
}

@media (max-width: 965px) {
  .announcementcard {
    align-items: center;
    width: 100%;
    .container {
      width: 100%;
      padding: 80px 20px;
    }
    &__inner {
      width: 100%;
      padding: 80px 20px;
    }
  }
}
@media (max-width: 686px) {
  .announcementcard {
    align-items: center;
    width: 100%;
    .container {
      width: 100%;
      padding: 80px 20px;
    }
    &__inner {
      width: 100%;
      padding: 80px 20px;
      &__bottom {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-gap: 20px;

        &__btn {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .announcementcard {
    align-items: center;
    width: 100%;
    .container {
      width: 100%;
      padding: 80px 20px;
    }
    &__inner {
      width: 100%;
      padding: 80px 20px;
      &__top {
        flex-direction: column;
        align-items: flex-start;

        &__userinfo {
          &__giveball {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 448px) {
  .announcementcard {
    &__inner {
      &__top {
        &__avatarca {
          width: 100%;
        }
      }
    }
  }
}
