@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");

// Colors
$main-bg-color: linear-gradient(180deg, #99ddff 23.44%, #00458b 100%);
$btn-bg-color: #00458b;

//Font Families
$ff-monalt: "Montserrat Alternates", sans-serif;
$fw-700: 700;
$fw-500: 500;
$fw-400: 400;
